In [1]:
import pandas as pd
import numpy as np

In [2]:
mvt_df = pd.read_csv('111.csv')
mvt_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [3]:
mvt_df.shape

(6419, 17)

In [4]:
col_dtypes = mvt_df.dtypes
col_dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
longitude                  float64
latitude                   float64
is_geocoding_exact            bool
dtype: object

In [5]:
mvt_df.isna().any()

id                         False
name                        True
date                       False
manner_of_death            False
armed                       True
age                         True
gender                      True
race                        True
city                       False
state                      False
signs_of_mental_illness    False
threat_level               False
flee                        True
body_camera                False
longitude                   True
latitude                    True
is_geocoding_exact         False
dtype: bool

In [6]:
mvt_df['date'] = pd.to_datetime(mvt_df['date'], format="%Y-%m-%d")

In [7]:
mvt_df.dtypes

id                                  int64
name                               object
date                       datetime64[ns]
manner_of_death                    object
armed                              object
age                               float64
gender                             object
race                               object
city                               object
state                              object
signs_of_mental_illness              bool
threat_level                       object
flee                               object
body_camera                          bool
longitude                         float64
latitude                          float64
is_geocoding_exact                   bool
dtype: object

In [8]:
# YOUR CODE HERE
numeric_arr = ['date','age','longitude','latitude']

def missing_ratio(s):
    return s.isna().mean() * 100
nume_col_profiles_df = mvt_df[numeric_arr].agg([missing_ratio, min, max])
nume_col_profiles_df

                              date        age   longitude   latitude
missing_ratio                  0.0   4.548995    4.844991   4.844991
min            2015-01-02 00:00:00   6.000000 -158.137000  19.498000
max            2021-06-30 00:00:00  91.000000  -67.867000  71.301000

In [9]:
# YOUR CODE HERE
categorical_arr = ["id", "name", "manner_of_death", "armed", "gender", "race", "city",'state' 
                   ,'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera', 'is_geocoding_exact']
def num_diff_vals(s):    #số lượng giá trị khác nhau
    return pd.Series.nunique(s, False) 

def diff_vals(s):       #list/array các giá trị khác nhau
    return pd.Series.unique(s)

cate_col_profiles_df = mvt_df[categorical_arr].agg([missing_ratio, num_diff_vals, diff_vals])
cate_col_profiles_df

,id,name,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,is_geocoding_exact
missing_ratio,0.0,3.754479,0.0,3.24038,0.015579,10.796074,0.0,0.0,0.0,0.0,6.761178,0.0,0.0
num_diff_vals,6419,6160,2,99,3,7,2778,51,2,3,5,2,2
diff_vals,"[3, 4, 5, 8, 9, 11, 13, 15, 16, 17, 19, 21, 22...","[Tim Elliot, Lewis Lee Lembke, John Paul Quint...","[shot, shot and Tasered]","[gun, unarmed, toy weapon, nail gun, knife, na...","[M, F, nan]","[A, W, H, B, O, nan, N]","[Shelton, Aloha, Wichita, San Francisco, Evans...","[WA, OR, KS, CA, CO, OK, AZ, IA, PA, TX, OH, L...","[True, False]","[attack, other, undetermined]","[Not fleeing, Car, Foot, Other, nan]","[False, True]","[True, False]"

In [10]:
mvt_df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6414,6977,NaN,2021-06-28,shot,gun,NaN,M,NaN,Siskiyou County,CA,False,attack,Car,False,-122.192,41.635,True
6415,6962,Philip Sanders,2021-06-29,shot,gun,32.0,M,NaN,Flour Bluff,TX,False,attack,Not fleeing,False,-97.295,27.679,True
6416,6975,Larry Hunt,2021-06-29,shot,undetermined,58.0,M,NaN,Bayard,NE,False,undetermined,NaN,False,-103.322,41.752,True
6417,6974,John Hayden Inabinet,2021-06-30,shot,unknown weapon,51.0,M,NaN,Calhoun County,SC,False,undetermined,NaN,False,-80.860,33.634,True
6418,6976,Joseph Lee Humbles,2021-06-30,shot,gun,29.0,M,NaN,Atlanta,GA,False,attack,Not fleeing,False,-84.385,33.774,True

In [11]:
mvt_df.armed.value_counts()

gun           3699
knife          936
unarmed        413
toy weapon     219
vehicle        204
              ...
carjack          1
chainsaw         1
oar              1
wrench           1
fireworks        1
Name: armed, Length: 98, dtype: int64

## https://www.washingtonpost.com/graphics/investigations/police-shootings-database/

# 1. Black Americans are killed at a much higher rate than White Americans

- Tỉ lệ các chủng tộc bị bắn qua các năm, năm covid có thay đổi gì không. Qua đó cho tỉ lệ người mỹ đen bị bắn
nhiều hơn mỹ trắng

# 2. Shootings happen across the country

- Các bang, vùng nào có tỷ lệ bắn nhiều nhất

# 3. Most victims are young, male

- Tỷ lệ các nạn nhân trẻ thay đổi qua các năm và dấu hiệu của thần kinh, liên quan đến ma túy

- https://www.kaggle.com/aviral24/us-police-shooting