In [1]:
import pandas as pd
import numpy as np

In [45]:
mvt_df = pd.read_csv('shootings.csv')
mvt_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [46]:
col_dtypes = mvt_df.dtypes
col_dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
arms_category               object
dtype: object

In [47]:
mvt_df.isna().all()

id                         False
name                       False
date                       False
manner_of_death            False
armed                      False
age                        False
gender                     False
race                       False
city                       False
state                      False
signs_of_mental_illness    False
threat_level               False
flee                       False
body_camera                False
arms_category              False
dtype: bool

In [48]:
mvt_df['date'] = pd.to_datetime(mvt_df['date'], format="%Y-%m-%d")

In [50]:
mvt_df.dtypes

id                                  int64
name                               object
date                       datetime64[ns]
manner_of_death                    object
armed                              object
age                               float64
gender                             object
race                               object
city                               object
state                              object
signs_of_mental_illness              bool
threat_level                       object
flee                               object
body_camera                          bool
arms_category                      object
dtype: object

In [51]:
# YOUR CODE HERE
def missing_ratio(s):
    return s.isna().mean() * 100
nume_col_profiles_df = mvt_df[['date','age']].agg([missing_ratio, min, max])
nume_col_profiles_df

                              date   age
missing_ratio                  0.0   0.0
min            2015-01-02 00:00:00   6.0
max            2020-06-15 00:00:00  91.0

In [113]:
# YOUR CODE HERE
categorical_arr = ["id", "name", "manner_of_death", "armed", "gender", "race", "city",'state' 
                   ,'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera', 'arms_category']
def num_diff_vals(s):    #số lượng giá trị khác nhau
    return pd.Series.nunique(s,False) 

def diff_vals(s):       #list/array các giá trị khác nhau
    return pd.Series.unique(s)

cate_col_profiles_df = mvt_df[categorical_arr].agg([missing_ratio, num_diff_vals, diff_vals])
cate_col_profiles_df

,id,name,manner_of_death,armed,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_diff_vals,4895,4851,2,89,2,6,2288,51,2,3,4,2,12
diff_vals,"[3, 4, 5, 8, 9, 11, 13, 15, 16, 17, 19, 21, 22...","[Tim Elliot, Lewis Lee Lembke, John Paul Quint...","[shot, shot and Tasered]","[gun, unarmed, toy weapon, nail gun, knife, un...","[M, F]","[Asian, White, Hispanic, Black, Other, Native]","[Shelton, Aloha, Wichita, San Francisco, Evans...","[WA, OR, KS, CA, CO, OK, AZ, IA, PA, TX, OH, L...","[True, False]","[attack, other, undetermined]","[Not fleeing, Car, Foot, Other]","[False, True]","[Guns, Unarmed, Other unusual objects, Piercin..."